<div class="container text-center mt-5 pt-4">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-inline-block text-start set-border">
    <h2 class="text-center p-2 page-heading">Users List</h2>
    <table class="table table-striped table-hover mt-4" id="chat-user-list" data-current-user-id="<%= current_user.id %>">
      <thead>
        <tr>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr id='user-<%=user.id%>'>
            <td><%= user.email %></td>
            <td><%= button_to 'Open', rooms_path(receiver_id: user.id), method: :post, class: 'btn btn-primary gradient-btn' %></td>
            <%# now we will check if a room exists between current_user and loop user. If exists fetch last messages from their chat and check if the last message was sent by the other user. If yes then show notification here. %>
            <% unread_count = check_unread_count(user, current_user)%>
            <td >
              <% unless unread_count.zero? %>
                <span class="dot"><span> <%= unread_count %></span></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
